@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #979899;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  color: #585b60;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: white;
}
h4{
  font-size: 16px;
  font-style: normal;
  text-align: center;
  padding-bottom: 30px;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 14px;
}

.section-title {
  color: #585b60;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #fb6e14;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  background-color:#d95400;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.section-padding {
  padding-top: 40px;
  padding-bottom: 0;
}

/* Services Item */
.services-item {
  padding: 15px;
  border-radius: 4px;
  text-align: left;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
  font-size: 42px;
  width: 42px;
  display: block;
  height: 42px;
  color: #fb6e14;
}

.services-item .services-content h3 {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.services-item .services-content h3 a {
  font-size: 15px;
  text-transform: uppercase;
  color: #585b60;
}

.services-item .services-content h3 a:hover {
  color: #fb6e14;
}

.navbar-brand {
  color: #fb6e14;
  position: relative;
  padding: 0px;
}

.navbar-brand:hover {
  color: #d95400;
}

#main-navbar{
  nav-right: root;
}
.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #585b60 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #fb6e14 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #fb6e14 !important;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #585b60;
  font-weight: 400;
  padding: 8px 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #fb6e14;
  outline: none;
}

.navbar-expand-lg .navbar-nav .active > .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.open,
.navbar-expand-lg .navbar-nav .open > .nav-link {
  color: #fb6e14 !important;
}

.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fb6e14 !important;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #fb6e14;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #fb6e14;
}

.slicknav_menu .slicknav_icon-bar {
  background: #fb6e14;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #FD6E74;
    outline: none;
    background: #f8f9fa;
  }
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 7px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #fb6e14;
    outline: none;
    background: #f8f9fa;
  }
}

/* Hero Area */
#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
  /* background-color: #f8f9fb; */
  background: url("../img/classroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-area .contents {
  padding: 100px 0px 50px;
}

#hero-area .contents h5 {
  font-size: 50px;
}

#hero-area .contents .head-title {
  color: #585b60;
  font-size: 34px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

#btn-refresh{
  margin-top: 15px;
  margin-bottom: 25px;
}

#history{
  text-align: center;
  padding: 10px;
}

.form {
  padding: 10px;
}

.plot{
  margin: 10px;
}

.plot-chart{
  padding: 10px;
}
#numSample{
  margin: 0 auto;
  float: none;
  max-width: 30%;
  text-align: center;
}

#copyright {
  background: #34363a;
  border-top: 2px dotted #3b3d42;
  padding: 10px;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  text-align: center;
  margin: 0;
}

/* JustGage */
#g1, #g2, #g3, #g4, #g5, #g6{
  width: 350px;
  height: 200px;
  display: inline-block;
}