@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #979899;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  color: #585b60;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: white;
}
h4{
  font-size: 16px;
  font-style: normal;
  text-align: center;
  padding-bottom: 30px;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 14px;
}

.section-title {
  color: #585b60;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #fb6e14;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  background-color:#d95400;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.section-padding {
  padding-top: 40px;
  padding-bottom: 0;
  align-items: center;
  text-align: center;
}

#last-reading{
  margin-bottom: 15px;
}

/* Services Item */
.services-item {
  padding: 15px;
  border-radius: 4px;
  text-align: left;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
  font-size: 42px;
  width: 42px;
  display: block;
  height: 42px;
  color: #fb6e14;
}

.services-item .services-content h3 {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.services-item .services-content h3 a {
  font-size: 15px;
  text-transform: uppercase;
  color: #585b60;
}

.services-item .services-content h3 a:hover {
  color: #fb6e14;
}

.navbar-brand {
  color: #fb6e14;
  position: relative;
  padding: 0px;
}

.navbar-brand:hover {
  color: #d95400;
}

#main-navbar{
  nav-right: root;
}
.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #585b60 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #fb6e14 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #fb6e14 !important;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #585b60;
  font-weight: 400;
  padding: 8px 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #fb6e14;
  outline: none;
}

.navbar-expand-lg .navbar-nav .active > .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.open,
.navbar-expand-lg .navbar-nav .open > .nav-link {
  color: #fb6e14 !important;
}

.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fb6e14 !important;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #fb6e14;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #fb6e14;
}

.slicknav_menu .slicknav_icon-bar {
  background: #fb6e14;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #FD6E74;
    outline: none;
    background: #f8f9fa;
  }
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 7px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #fb6e14;
    outline: none;
    background: #f8f9fa;
  }
}

/* Hero Area */
#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
  /* background-color: #f8f9fb; */
  background: url("../img/classroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-area .contents {
  padding: 100px 0px 50px;
}

#hero-area .contents h5 {
  font-size: 50px;
}

#hero-area .contents .head-title {
  color: #585b60;
  font-size: 34px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

#btn-refresh{
  margin-top: 15px;
  margin-bottom: 25px;
}

#history{
  text-align: center;
  padding: 10px;
}

.form {
  padding: 10px;
}

.plot{
  margin: 10px;
}

.plot-chart{
  padding: 10px;
}
#numSample{
  margin: 0 auto;
  float: none;
  max-width: 30%;
  text-align: center;
}

#copyright {
  background: #34363a;
  border-top: 2px dotted #3b3d42;
  padding: 10px;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  text-align: center;
  margin: 0;
}

/* JustGage */
#g1, #g2, #g3, #g4, #g5, #g6{
  width: 350px;
  height: 200px;
  display: inline-block;
}

/*Slider */
.slider{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 100px;
  width: 600px;
}

#WholeBar{
  width: 600px;
  height: 8px;
  margin-top: 26px;
  background-image: linear-gradient(to right, #4bc67c, #f1c40f, #b94a48);;
  border-radius: 3px;
  position: absolute;
  text-align: center;
  align-items: center;
}

#ProgressBar{
  text-align: center;
  width: 50%;
  height: 8px;
  margin-top: 26px;
  border-radius: 3px;
  position: absolute;
}

.circle {
  margin-left: 270px;
  width: 60px;
  height: 60px;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #f1c40f;
  position: absolute;
}

.circle-number{
  width: 44px;
  height: 44px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 50%;
  text-align: center;
  background: white;
  position: absolute;
}

.slider-value{
  margin-top: 12px;
  font-size: 20px;
  font-style: bold;
  text-align: center;
  font-family:sans-serif;
  color:grey;
}

.index-message, .instruct-message{
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#585b60;
}

.discover-index{
  margin-bottom: 50px;
}

#plot-area{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.plot-chart{
  width: 100%;
}

@media only screen and (max-width: 500px){
  #plot-area{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
}

#general-indexes{
  color: #fff;
  overflow: hidden;
  position: relative;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.index-title{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.slider-white{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  margin-bottom: 20px;
  width: 300px;
}

.entire-bar{
  width: 320px;
  height: 12px;
  margin-top: 20px;
  background-color: #f0f2f0;
  border-radius: 3px;
  position: absolute;
  text-align: center;
  align-items: center;
}

.progress-bar{
  text-align: center;
  width: 10%;
  height: 7px;
  margin-top: 3px;
  margin-left: 2px;
  border-radius: 3px;
  position: absolute;
  background-color: #383838;
}

.circle-white {
  margin-left: 30px;
  width: 50px;
  height: 50px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  background:#f0f2f0;
  position: absolute;
}

.circle-black{
  width: 38px;
  height: 38px;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 50%;
  text-align: center;
  background:#2e2e2e;
  position: absolute;
}

.slider-white-value{
  margin-top: 9px;
  font-size: 16px;
  font-style: bold;
  text-align: center;
  font-family:sans-serif;
  color:#f0f2f0;
}

.white-message{
  margin-top: 70px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color:#f0f2f0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  margin-right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.discover-url {
  color: white;
  font-style: italic;
}

.discover-url:hover {
  color: white;
  font-style: bold;
}